@import "./variables";
@import "../container/Navbar/navbar";
@import "../container/Header/header";
@import "../components/subheading";
@import "../container/Features/features";
@import "../container/Feature/feature";
@import "../container/Download/download";
@import "../container/Faq/faq";
@import "../container/ConactUs/contactus";
@import "../container/Footer/footer";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: unset;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.overflow {
  overflow: hidden;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margintop {
  margin-top: 10rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
